.gameslist{
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.8rem;
  &__container{
    padding: 0 1rem;
    & h3{
      text-align: center;
      padding-bottom: 20px;
    }
  }

}

.game{
  padding: 1rem;
  background: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:750px){
  .gameslist{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width:500px){
  .gameslist{
    grid-template-columns: 1fr;
    margin: 0 0.5rem;
  }
}